# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
coverage

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
*.local
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*.sh
*.md
*.woff
*.ttf
/public
/docs
.husky
/bin
Dockerfile
.DS_Store
